/.git
/.vscode
node_modules
**/server/api/renderers/ng/compiler.js
**/server/api/renderers/ng/angular.js
**/web/js/plugins/*.js
**/web/js/dist/*.js
**/web/js/libs/*.js
**/web/js/template-libs/*.js
**/web/plugins/*.js
**/web/bootstrap/*.js
*.map
package.json
tsconfig.json
tslint.json
tsconfig.*.json
package-lock.json
yarn-lock.json